@import url('normalize.css');

/* ALLE ELEMENTER */

body * {

	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;

}

header, main, nav, article, aside, footer, div {

   display: block;
   overflow: hidden; 
}


#container {

	width: 100%;
	max-width: 1000px;	
	margin: auto;
	font-family: 'Encode Sans Expanded', sans-serif;
	
}

/* HEADER */

header {

 	margin-top: 10px;
 	text-align: center;

}

/* BILDE CREDIT */

section p {

    font-size: 5pt;
    margin-left: 10px;
 }

 /* NAVBAR */

#navbar ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#navbar li {
   
    float: left;

}    


#navbar a {

    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;

}

#navbar a:hover {

	color: #E0ECF8;
 	cursor: pointer;
}

/* NAVBAR DROPDOWN */
 
 li.dropdown {

    display: inline-block;
}

.dropdowncontent {

    display: none;
    position: absolute;
    z-index: 1;
}

.dropdowncontent a {

    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdowncontent {

    display: block;

}

/* BRØDSMULER */

#brødsmuler ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#brødsmuler ul li {

    display: inline;
}

#brødsmuler li {

    float: right;
}

#brødsmuler a {

    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: block;
    font-size: 8pt;
} 

#brødsmuler ul li a:hover {

    color: #E0ECF8;
} 

/* MAIN */

hr {

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

 h2 {

    text-transform: uppercase;
}

article {

 	background-color: #F2F
 	margin-top: 10px;
 	margin-bottom: 20px; 
 	padding: 10px;
 	width: 50%;
 	font-size: 10pt;
    line-height: 25px;
 	
}

article a:hover {

    cursor: pointer;
    color: white;
}

article.artikkelsider a {

    color: black;
}

article.artikkelsider a:hover {

    color: #E0ECF8; 
}

.btn {

  background-color: #E0ECF8;
  padding: 8px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10pt;

}

.artikkelsider {

    width: 100%;
    margin-top: 10px;

}

#bunnartikkel {

 	width: 100%;
}

img.pencil {

    float: left;
    width: 30%;
    margin-bottom: 30px;

}


/* ASIDE */ 

aside  {

 	float: right;
    width: 45%;
 	max-width: 300px;
 	margin-top: 10px auto;
 	padding: 10px;
 	font-size: 10pt;
    line-height: 25px;

}

/* TABLES */

#table1, #table2, #bunnartikkel, table, th, tr, td {

    border-collapse: collapse;
    margin-bottom: 10px;
    padding: 10px;

}

th, td {

    border: 1px solid;
    background-color: white;

}  

#table2 {

    float: left;
}

table a {

    color: black;
}

table tr td a:hover {

    color: #E0ECF8;
    cursor: pointer;
}

#table2 td:first-child {

    background-color: #E0ECF8;;
}

#table2 td:nth-child(even) {

    background-color: white;
}
  
/* FOOTER */

footer {

 	clear: both;
 	background-color: white;
 	padding: 15px 25px;

}

footer a {

 	text-decoration: none;
 	color: black;
 	padding-left: 25px;
    float: right;

}

footer p {

    margin: 0;
    font-size: 8pt;
}

footer a:hover {

 	color: #E0ECF8;
 	cursor: pointer;
}

.fa { /* FONT ICON */

    float: right;
    margin-top: 3px;
}

.fa-link {

    float: left;
    padding: 2px;
}

/* RESURSSER */

ol li a {

    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

ol li {

    list-style-type: none;
}

 


